*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(/assets/images/nature.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
}
.form-box{
    width: 380px;
    height: 480px;
    background: #fff;
    position: relative;
    margin: 6% auto;
    padding: 5px;
}
.button-box{
    width: 220px;
    margin: 35px auto;
    box-shadow: 0 0 20px 9px #ff61241f;
    position: relative;
    border-radius: 30px;
}
.toggle-btn{
    padding: 10px 30px;
    background: transparent;
    border: 0;
    position: relative;
    cursor: pointer;
    outline: none;
}

.social-icon {
    margin: 30px auto;
    text-align: center;
}

.social-icon{
    width: 30px;
    margin: 0 12px;
}